*{
    box-sizing: border-box;
}
body{
    background-image: url(splash.swine.jpg);
    background-position: centre;
    background-size: 100vw;
    color:white;
}
#book{
    width: 90%;
    height: 50px;
    margin: px auto;
    display: flex;
    background-color: rgba(0,0,0,0.5);
    border-radius: 10px;
}

.box1 {
    border: 1px;
    display: flex;
    flex-grow: 1;
    padding: 10px;
}
   .traveloo{
            margin: -8px;
            color: antiquewhite;
   }     

.link h4{
    display: inline-block;
    margin: 12px;
    color: antiquewhite;   
   
  }  
  .link {
    word-spacing: 95px;
    margin-left: 70px;

}

  .box2{
      width: 50px;
      height: 50px;
      border: 1px grey;
      background-image:url(flatsearch.png);
      background-size: 50px;
      background-position: centre;
      background-color: rgba(0,0,0,0.5);
  }
  .box3{
      width: 50px;
      height: 50px;
      border:1px grey;
      background-image: url(flatprofile.png);
      background-size: 50px;
      background-position: center;
      background-color: gray;
  }

.box4{
    width: 50px;
    height: 50px;
    border: 1px solid yellow;
    background-size: 45px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(flatcart.png);
    border-image: 25px;
    background-color: yellow;
    border-radius: 10px;
}
#main{
    margin-top: 12%;
    width: 25%
  


}
#footer{
    height: 300px;
    width: 100vw;
    display: flex;
    flex-direction: row;


    
}
.foot{
    width: 700px;
    background-color: rgba(0, 0, 0, 1);
    height:324px;
   
    

}
.block1{
    display: flex;
}
.block11{
    height: 75px;
    width: 75px;
    background-image: url(pyramid.jpg);
    display: flex;
    background-position: center;
}
.block2{
    display: flex;
}
.block22{
    height: 75px;
    width: 75px;
    background-image:url(road.jpg);
    display: block;
    background-position: center;
}
.block3{
    display: flex;
}
.block33{
    height: 75px;
    width: 75px;
    background-image: url(beach.jpg);
    display: block;
    background-position: center;
}
.block4{
    display: flex;
}
.block44{
    height: 75px;
    width: 75;
    background-image: url(architectural.jpg);
    display: block;
    background-position: centre; 
}
.foote{
      
}
.background{
    background-image: url(splash.water.jpg);
    height: 323px;
    width:350px;
    background-position: center;
}
.hidden{
    height: 50px;
    width: 50px;
    background-color: grey;
    border-radius: 5px;
    text-align: center;
    margin-left: 90px;
    margin-top: 80px;
}
.numberone{
    text-align: center;
    margin-left: -10px;
    margin-bottom: 50px;
}
.box{
    background-color: yellow;
    height: 45px;
    width: 45px;
    background-position: center bottom;
}
.last{
    background-image: url(splash.forest.jpg);
    height: 323px;
    width: 275px;
    background-position: center;
}
.sunset{
    height: 50px;
    width: 50px;
    background-color: grey;
    border-radius: 5px;
    text-align: center;
    margin-left: 90px;
    margin-top: 80px;

}
.box2{
    background-color: yellowgreen;
    height: 45px;
    width: 45px;
}