*{
    box-sizing: border-box;
}
body{
    background-image: url(splash.swine.jpg);
    background-position: centre;
    background-size: 100vw
}
#book{
    width: 90%;
    height: 50px;
    margin: px auto;
    display: flex;
    background-color: rgba(0,0,0,0.5);
    border-radius: 10px;
}

.box1 {
    border: 1px;
    display: flex;
    flex-grow: 1;
    padding: 10px;
}
        

.link h4{
    display: inline-block;
    margin: 10px;

  }  
  .box2{
      width: 50px;
      height: 50px;
      border: 1px grey;
      background-image:url(flatsearch.png);
      background-size: 50px;
      background-position: centre;
      background-color: rgba(0,0,0,0.5);
  }
  .box3{
      width: 50px;
      height: 50px;
      border:1px grey;
      background-image: url(flatprofile.png);
      background-size: 50px;
      background-position: center;
      background-color: gray;
  }

.box4{
    width: 50px;
    height: 50px;
    border: 1px solid yellow;
    background-size: 45px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(flatcart.png);
    border-image: 25px;
    background-color: yellow;
    border-radius: 10px;
}
#main{
    margin-top: 12%;
    width: 25%
  


}
#footer{
    height: 200px;
    width: 100vw;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    
}
.foot{
    width: 700px;
    background-color: rgba(0, 0, 0, 1);
    height:300px;
    

}

.footee{
    background-image: url(splash.water.jpg);
    width: 324;
    height: 300;
    background-position: center;
    position: relative;
    text-align: center;
    padding: 7%;
    color: white;

}
.square{height: 10px;
        width: 10px;
        background-color:rgba(0, 0, 0, 0.5);
        padding: 30px;
        border-radius: 5px;
}
.squared{height: 10px;
    width: 10px;
    background-color:rgba(0, 0, 0, 0.5);
    padding: 25px;
    border-radius: 5px;

}
.footed{
    background-image: url(splash.forest.jpg);
    width:327px;
    height:300px;
    position: relative;
    text-align: center;
    color: white;
    padding: 9%;
}
